/* Sand Box Start */
/* Header Start */

/* Common CSS */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    /* max-width: 1320px; */
    max-width: calc(100vw - 20vw);
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.sandbox_h2 {
    text-transform: uppercase;
    color: #AAB0BC;
    font-size: 16px;
    margin-bottom: 18px;
}

.sandbox_h3 {
    color: #343F52;
    font-size: 40px;
}


/* Main Css */

.header-bg {
    background-color: #fff8ee;
    background: linear-gradient(to bottom, #fff8ee, #fff);
}

/* Navbar Start */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

.nav-link .nav-list i {
    color: #fab758;
}

.nav-en {
    color: #fab758;
}

.nav-logo img {
    height: auto;
}

.nav-link .nav-list {
    display: flex;
    gap: 30px;
}

.nav-list li a {
    font-size: calc(1.1vw - 1px);
    font-weight: bold;
    color: #343F52;
    position: relative;
    text-wrap: nowrap;
    padding: 10px 5px;
}

.nav-options a {
    font-weight: bold;
    font-size: 17px;
    color: #343F52;
    margin-left: 10px;
    text-wrap: nowrap;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-list li a:hover {
    color: #fab758;
}

.nav-options a:hover {
    color: #fab758;
}

.mobile-btn {
    display: none;
    color: #343F52;
}

.mobile-btn span {
    margin-left: 20px;
    font-size: 25px;
}

.nav-link {
    display: block;
}

/* Navbar End */

/* Solutions Section Start */

.solu-sec {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 30px;
}

.solu-img img {
    max-width: 100%;
    height: auto;
}

.solu-text {
    max-width: 500px;
}

.solu-text h1 {
    color: #343f52;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.solu-text p {
    color: #60697b;
    font-size: 18px;
}

.solu-btn {
    margin-top: 30px;
}

.solu-btn a {
    color: white;
    font-weight: bold;
    background-color: #fab758;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
}

/* Solutions Section End */

.service_main {
    padding: 100px 0px;
}

.card_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.service_card_main {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service_card {
    text-align: center;
    max-width: 300px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(128, 128, 128, 0.4);
    background-color: white;
}

.service-text {
    max-width: 700px;
    text-align: center;
    margin: auto;
}

.service_icon i {
    color: black;
    font-size: 35px;
}

.service_icon span {
    color: white;
    font-size: 30px;
}

.service_icon img {
    height: 35px;
}

.service_card_text h4,
p {
    margin: 20px 0px;
}

.service_card_text h4 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.775);
}

.service_card_text p {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.612);
}

.learn1 {
    color: #FAB758;
    font-weight: 600;
}

.learn2 {
    color: #E2626B;
    font-weight: 600;

}

.learn3 {
    color: #45C4A0;
    font-weight: 600;

}

.learn4 {
    color: #3F78E0;
    font-weight: 600;
}

.service_card_text a i {
    font-size: 12px;
}

.service_dot {
    height: 140px;
    width: 140px;
    position: absolute;
    z-index: -1;
    top: -20px;
    left: -50px;
    background-image: radial-gradient(#FAB758 2px, #fff 2.5px);
    background-size: .75rem .75rem;
    opacity: 0.5;
}

.service_circle {
    height: 140px;
    width: 140px;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    right: -50px;
    bottom: -50px;
    background: #747ed1;
    opacity: 0.3;
}