/* Sand Box Start */
/* Header Start */

/* Common CSS */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    /* max-width: 1320px; */
    max-width: calc(100vw - 20vw);
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.sandbox_h2 {
    text-transform: uppercase;
    color: #AAB0BC;
    font-size: 16px;
    margin-bottom: 18px;
}

.sandbox_h3 {
    color: #343F52;
    font-size: 40px;
}

.common-btn {
    display: inline-block;
    background-color: #fab758;
    color: white;
    padding: 14px 26px;
    font-weight: 600;
    border-radius: 50rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

.common-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}



/* Main Css */
.header-bg {
    background-color: #fff8ee;
    background: linear-gradient(to bottom, #fff8ee, #fff);
}

/* Navbar Start */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

.nav-link .nav-list i {
    color: #fab758;
}

.nav-en {
    color: #fab758;
}

.nav-logo img {
    height: auto;
}

.nav-link .nav-list {
    display: flex;
    gap: 30px;
}

.nav-list li a {
    font-size: calc(1.1vw - 1px);
    font-weight: bold;
    color: #343F52;
    position: relative;
    text-wrap: nowrap;
    padding: 10px 5px;
}

.nav-options a {
    font-weight: bold;
    font-size: 17px;
    color: #343F52;
    margin-left: 10px;
    text-wrap: nowrap;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-list li a:hover {
    color: #fab758;
}

.nav-options a:hover {
    color: #fab758;
}

.mobile-btn {
    display: none;
    color: #343F52;
}

.mobile-btn span {
    margin-left: 20px;
    font-size: 25px;
}

.nav-link {
    display: block;
}

/* Navbar End */

/* Solutions Section Start */
.solu-sec {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 30px;
}

.solu-img img {
    max-width: 100%;
    height: auto;
}

.solu-text {
    max-width: 500px;
}

.solu-text h1 {
    color: #343f52;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.solu-text p {
    color: #60697b;
    font-size: 18px;
}

.solu-btn {
    margin-top: 30px;
}

.solu-btn a {
    color: white;
    font-weight: bold;
    background-color: #fcb140e6;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
}

/* Solutions Section End */
/* Header End */


/* Service Section End */
.service_main {
    padding: 100px 0px;
}

.card_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.service_card_main {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service_card {
    text-align: center;
    max-width: 300px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(128, 128, 128, 0.4);
    background-color: white;
}

.service-text {
    max-width: 700px;
    text-align: center;
    margin: auto;
}

.service_icon img {
    height: 50px;
}

.service_card_text h4,
p {
    margin: 20px 0px;
}

.service_card_text h4 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.775);
}

.service_card_text p {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.612);
}

.learn1 {
    color: #FAB758;
    font-weight: 600;
}

.learn2 {
    color: #E2626B;
    font-weight: 600;

}

.learn3 {
    color: #45C4A0;
    font-weight: 600;

}

.learn4 {
    color: #3F78E0;
    font-weight: 600;
}

.service_card_text a i {
    font-size: 12px;
}

.service_dot {
    height: 120px;
    width: 120px;
    position: absolute;
    z-index: -1;
    top: -10px;
    left: -40px;
    background-image: radial-gradient(#FAB758 2px, #fff 2.5px);
    background-size: .75rem .75rem;
    opacity: 0.5;
}

.service_circle {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    right: -50px;
    bottom: -10px;
    background: #747ed1;
    opacity: 0.3;
}

/* Solutions Section End */

/* Analyze Section Start */
.analyze_main {
    padding: 100px 0px;
    display: flex;
    background: linear-gradient(to top, #fff8ee, #fff);
}

.analyze_sec {
    display: flex;
}

.left {
    flex: 1;
}

.small-title {
    color: #999;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

h1 {
    font-size: 40px;
    color: #1a1a1ae2;
    margin-bottom: 20px;
}

.description {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 600px;
}

.input-group {
    display: flex;
    width: 100%;
    max-width: 450px;
}

.input-group input {
    flex: 1;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 2px rgba(128, 128, 128, 0.228);
    border-radius: 6px 0 0 6px;
    outline: none;
}

.input-group button {
    padding: 15px 25px;
    font-size: 16px;
    background-color: #fcb140e6;
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 0px 2px rgba(128, 128, 128, 0.228);
    font-weight: bold;
}

.right {
    flex: 1;
    text-align: center;
}

.right img {
    max-width: 100%;
    height: auto;
}

/* Analyze Section End */

/* Strategy Section Start */
.strategy-section {
    padding: 100px 0px;
    gap: 50px;
    flex-wrap: wrap;
}

.strategy-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-content {
    flex: 1;
    max-width: 500px;
}

.subheading {
    text-transform: uppercase;
    color: #b0b3c3;
    font-weight: bold;
    margin-bottom: 10px;
}

.sub-h1 {
    font-size: 38px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.sub-h1 span {
    color: #2b2e4a;
    font-weight: bold;
}

.description {
    color: #6c6f7d;
    line-height: 1.6;
    margin-bottom: 16px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #f9b94f;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 10px;
}

.steps {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
}

.step-box {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    gap: 20px;
}

.step-number {
    background: #ffe7c490;
    color: #f4a54f;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    min-width: 60px;
}

.step-box h3 {
    margin-bottom: 5px;
    color: #2b2e4a;
}

.step-box p {
    color: #6c6f7d;
}

.box-1 {
    margin-left: -45px;
}

.box-2 {
    margin-left: 50px;
}

/* Strategy Section End */

/* Why Choose Us Section Start */
.why-choose-us {
    padding: 100px 0px;
    gap: 50px;
    flex-wrap: wrap;
}

.why-choose-us-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 40px;
}

.text-section {
    max-width: 500px;
}

.text-section h2 {
    font-size: 38px;
    color: #1f2937;
    margin-bottom: 30px;
}

.features {
    list-style: none;
    padding: 0;
}

.features li {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: #282828;
}

.features li i {
    color: orange;
    margin-right: 10px;
    font-size: 19px;
}

/* Why Choose Us Section End */

/* Team Section Start */

.team-section {
    padding: 100px 0px;
}

.team-header {
    text-align: center;
    margin-bottom: 40px;
}

.team-header h2 {
    font-size: 38px;
    color: #1f2937;
    line-height: 44px;
    margin: 0;
}

.team-members {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
}

.team-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px 20px;
    width: 260px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}

.team-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.team-card h3 {
    font-size: 16px;
    margin: px 0 5px;
    color: #1a1a1a;
}

.role {
    font-size: 13px;
    color: #888888a0;
    margin-bottom: 15px;
    font-weight: bold;
}

.desc {
    font-size: 14px;
    color: #454545;
    margin-bottom: 20px;
}

.socials {
    margin-top: 10px;
}

.socials {
    display: flex;
}

.socials :nth-child(1) {
    color: #5daed5;
    width: 20px;
    height: 20px;
}

.socials :nth-child(2) {
    color: #4470cf;
    width: 20px;
    height: 20px;
    margin-left: 8px;
}

.socials :nth-child(3) {
    color: #e94d88;
    width: 20px;
    height: 20px;
}

.team-service_dot {
    height: 140px;
    width: 140px;
    position: absolute;
    z-index: -1;
    bottom: 15px;
    right: -23px;
    background-image: radial-gradient(#3f78e0 2px, #fff 2.5px);
    background-size: 0.75rem 0.75rem;
    opacity: 0.5;
}

.team-service_circle {
    height: 140px;
    width: 140px;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    left: -40px;
    opacity: 0.3;
    background: repeating-linear-gradient(-55deg,
            rgba(255, 255, 255, 0) 0.8px,
            rgb(228, 79, 89) 1.6px,
            rgb(228, 79, 89) 3px,
            rgba(255, 255, 255, 0) 3.8px,
            rgba(255, 255, 255, 0) 10px);
}

/* Team Section End */

/* Solutions Section Start */

.solutions-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
}

.solution-main {
    display: flex;
}

.solutions-text {
    width: 540px;
}

.solutions-subtitle {
    font-size: 14px;
    font-weight: bold;
    color: #888888;
    margin-bottom: 10px;
}

.solutions-heading {
    font-size: 38px;
    line-height: 44px;
    font-weight: 700;
    color: #1a1a1ade;
    margin: 0 0 20px 0;
}

.solutions-description {
    font-size: 16px;
    color: #666666;
    line-height: 28px;
    margin-bottom: 20px;
}

.solutions-list {
    display: flex;
    gap: 40px;
}

.solutions-column p {
    font-size: 16px;
    color: #444444;
    margin-bottom: 20px;
    position: relative;
    padding-left: 28px;
}

.check-icon {
    position: absolute;
    left: 0;
    top: 2px;
    color: #fbbf24;
    font-size: 18px;
}

/* Solutions Section End */

/* Community Section Start */

.testimonials-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1360px;
    margin-top: 100px;
}

.testimonials-div1 {
    display: flex;
}

.testimonials-div2 {
    display: flex;
}

/* communitysection */

.community-section {
    background: linear-gradient(to bottom, #fff, #fef8f4);
    padding: 80px 20px;
    margin-top: 100px;
}

.community-main {
    display: flex;
    gap: 60px;
    align-items: flex-start;
    justify-content: space-between;
    width: 1360px;
}

/* Testimonials grid */
.community-section {
    background: linear-gradient(to bottom, #fff, #fef8f4);
    padding: 80px 20px;
    margin-top: 100px;
}

.community-main {
    display: flex;
    gap: 60px;
    align-items: flex-start;
    justify-content: space-between;
    width: 1360px;
}

.testimonial-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    flex: 1;
    max-width: 748px;
    max-height: 680px;
}

.testimonial-card {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
    font-size: 18px;
    color: #60697b;
    line-height: 1.6;
    position: relative;
    padding: 40px;
}

.testimonial-card::before {
    content: "❞";
    position: absolute;
    top: -30px;
    left: 30px;
    font-size: 120px;
    color: #e2e8f0;
    z-index: 0;
    opacity: 0.6;
}

.testimonial-card p {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

.testimonial-card h5 {
    font-weight: 700;
    margin: 0;
    color: #343f52;
    font-size: 22px;
}

.testimonial-card .position {
    font-size: 1.1rem;
    color: #64748b;
    margin-top: 4px;
}

.testimonial-text {
    max-width: 500px;
    flex-shrink: 0;
    margin-top: 20px;
    padding: 20px;
}

.testimonial-text h2 {
    text-transform: uppercase;
    color: #aab0bc;
    font-size: 16px;
    margin-bottom: 10px;
}

.testimonial-text h3 {
    font-size: 32px;
    line-height: 1.3;
    margin-bottom: 20px;
    color: #1e293b;
}

.testimonial-text p {
    font-size: 17px;
    color: #475569;
    line-height: 1.75;
    margin-bottom: 30px;
}

/* Community Section End */

/* Pricing Section Start */
.pricing-main {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: center;
}

.pricing-heading {
    max-width: 33%;
    margin: 30px 0 0;
    padding: 0 15px;
}

.pricing-card-heading {
    display: flex;
    align-items: center;
    margin-left: 400px;
}

.pricing-card-heading p span {
    color: #e2626b;
}

.pricing-card-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pricingcard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.pricing-duration {
    color: #60697b;
}

.pricing-heading .sandbox_h3 {
    margin: 0;
    line-height: 50px;
}

.pricing-heading .sandbox_p span {
    margin: 0 5px;
    color: #fab758;
}

.pricing-heading .cta-button {
    border: none;
}

.pricing-switcher {
    background: #1e222812;
    width: 48px;
    height: 28px;
    border-radius: 20px;
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.pricing-switcher i {
    font-size: 20px;
    color: rgba(250, 183, 88, 0.7);
    margin-left: 5px;
}

.card {
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    padding: 40px;
    width: 272px;
    height: 390px;
}

.card h3 {
    font-size: 20px;
    margin-top: -5px;
    color: #343f52;
}

.card ul {
    margin: 0;
    padding: 0;

}

.card ul li {
    list-style-type: none;
    padding: 8px;
}

.card ul li i {
    color: #fab758;
}

.price {
    display: flex;
    align-items: center;
    gap: 3px;
    height: 53px;
    margin-bottom: 10px;
    font-family: Manrope, "sans-serif";
    font-weight: 500;
    line-height: 28.9px;
}

.price .pricingvaluesign {
    font-size: 20px;
    color: #343f52;
    margin-top: -20px;
}

.price .pricevalue {
    font-size: 48px;
    color: #343f52;
}

.price .price-duration {
    font-size: 16px;
    color: #60697b;
    align-self: self-end
}

.subcard-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricingmain {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Pricing Section End */

/* Talk Section Start */

.talk-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1360px;
    height: 583px;
}

.talk-image {
    max-width: 793px;
    max-height: 533px;
    margin: 50px 0 0;
    padding: 0 35px;
}

.talk-image img {
    width: 100%;
    height: 100%;
}

.talk-text {
    max-width: 567px;
    max-height: 392px;
    margin: 50px 0 0;
    padding: 0 35px;
}

.talk-text .sandbox_h2 {
    font-size: 16px;
    margin: 0 0 15px;
}

.talk-text .sandbox_h3 {
    margin: 0;
    line-height: 50px;
}

.talk-text .sandbox_p {
    font-size: 19px;
    color: rgb(96, 105, 123);
    line-height: 25px;
}

.talk-text button {
    height: 52px;
    width: 109px;
}

/* Talk Section End */

/* Partner Section Start */

.partner-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.partner {
    width: 218px;
    height: 31px;
    margin: 40px 0 0;
    padding: 0 35px;
}

.partner img {
    width: 100%;
    height: 100%;
}

/* Partner Section End */

/* Footer Section Start */
.footer-section {
    background-color: #343F52;
    color: #ffffff;
    padding: 60px 0;
    font-family: 'Poppins', sans-serif;
    margin-top: 200px;
}

.container {
    width: 85%;
    margin: auto;
}

.footer-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #ffffff;
    width: 1290px
}

.footer-head p {
    font-size: 38px;
    font-weight: 600;
    max-width: 700px;
}

hr {
    border-color: #cacaca;
    margin: 40px 0;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #d1d5db;
}

.footer-logo,
.footer-links,
.footer-pages,
.footer-newsletter {
    flex: 1 1 200px;
    margin: 20px;
}

.footer-logo {
    flex-direction: column;
    width: 360px;
}

.footer-links {
    flex-direction: column;
    width: 300px;
    margin-top: -7px;
}

.footer-logo-img {
    width: 134px;
    margin-bottom: 20px;
}

.footer-div1-p {
    font-size: 18px;
    margin: 0 0 20px;
    color: #CACACA;
    width: 246px;
}

.footer-social-icons a {
    color: #ffffff;
    font-size: 20px;
    margin-right: 12px;
    transition: color 0.3s;
}

.footer-social-icons a:hover {
    color: #fcb045;
}

.footer-links-heading,
.footer-pages-heading,
.footer-newsletter-heading {
    font-weight: bold;
    margin-bottom: 15px;
    color: #ffffff;
}

.footer-links-address,
.footer-links-email,
.footer-links-paragraph,
.footer-newsletter-paragraph {
    display: block;
    font-size: 18px;
    margin: 8px 0;
    color: #d1d5db;
}

.footer-links-heading,
.footer-pages-heading,
.footer-newsletter-heading {
    font-size: 20px;
    color: #ffffff;
}

.footer-newsletter-paragraph {
    margin-top: 20px;
}

.footer-links-address {
    margin: 0 0 20px;
    padding: 0 140px 0 0;
    color: #CACACA;
}

.footer-links-email {
    text-decoration: none;
}

.footer-pages {
    margin-top: -7px;
}

.footer-pages ul {
    list-style: none;
    padding: 0;
}

.footer-pages ul li {
    margin-bottom: 10px;
    cursor: pointer;
    color: #CACACA;
}

.footer-pages ul li:hover {
    color: #fab758;
}

.footer-newsletter {
    margin-top: -5px;
    width: 300px;

}

.footer-newsletter-form {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.footer-newsletter-input {
    padding: 10px;
    border: none;
    border-radius: 6px 0 0 6px;
    width: 192px;
    background-color: #414b59;
    color: #ffffff;
    margin-top: 10px;
    padding: 18px 20px;
    border: 1px solid gray;
}

.footer-newsletter-input::placeholder {
    font-size: 14px;
    color: #cccccc;
}


.footer-newsletter-button {
    padding: 10px 20px;
    border: none;
    background-color: #fcb045;
    color: #ffffff;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    font-weight: bold;
    width: 108px;
    margin-top: 10px;
    padding: 19px 20px;
}

.footer-newsletter-button:hover {
    background-color: #f9a825;
}

/* Footer Section End */